.homepage {
  padding-top: 87.88px;
  display: flex;
  background-image: url(../assets/images/coding.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  height: auto;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $site-black;
    width: 65vw;
    text-align: center;
    background-color: #ffffff;
    .profile-pic {
      background-image: url(../assets/images/profile_pic.jpg);
      background-size: cover;
      border-radius: 100px;
      height: 200px;
      width: 200px;
    }
    h2 {
      padding: 15px;
    }
    li {
      padding: 10px;
      font-weight: 500;
    }
    ul {
      h3 {
        text-align: left;
      }
    }
    .information {
      display: flex;
      .edu-box,
      .exp-box {
        border: 2px solid $site-gold;
        margin: 5px;
        padding: 10px;
      }
      .edu-box {
        padding-bottom: 37px;
      }
      .exp-box {
        p {
          width: 700px;
        }
      }
    }
  }
}
